@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body, *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    display: block;
}
.wrap{
    width: 26vw;
    min-width: 400px;
    margin: auto;
    box-shadow: 0px 0px 4px #888888;
    background: rgb(242,253,255);
    background: linear-gradient(180deg, rgba(242,253,255,1) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 92%, rgba(242,253,255,1) 100%);
}
h2{
    font-size: 0.8em;
}
.brand-name{
    font-family: 'Pacifico', cursive;
}